/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: #c3fdee;
}

a {
  color: #34b7a7;
  text-decoration: none;
  transition: transform 300ms ease-in-out;
}

a:hover {
  color: #453cbf;
  text-decoration: none;
  transform: scale(1.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  margin-top: 50px;
}

@media (max-width: 992px) {
  #main {
    margin-top: 30px;
  }
}

/* Header*/
.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 550ms ease-in-out;
}
.titre :hover {
  transform: scale(1.2);
}

.logo {
  display: flex;
}

.titre_principal {
  display: flex;
  z-index: 2;
  position: absolute;
  color: #51cdbe;
  top: 92px;
  transition: transform 550ms ease-in-out;
}
.titre_principal :hover {
  transform: scale(1.2);
}

/* les boutons et liens de navigation de l'entête*/

.button_nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 5%;
  position: relative;
  bottom: 220px;
  z-index: 2;
}
.button_header-nav {
  display: flex;
  justify-content: center;
  color: rgb(34, 31, 31);
  border: #444444 2px solid;
  border-radius: 30%;
  width: 90%;
  height: 30px;
  margin: auto;
  padding: 1.5%;
  background-color: #e294e7;
  font-weight: 500;
  align-items: center;
}
/* Image de la bannière qui se trouve sur la navigation*/
.navi_img img {
  width: 100%;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
